---
layout: default
permalink: /
---

<div class="page page-home page-manual-padding">
	<div class="row">
		<div class="col-md-5">
			<img src="/assets/img/screenshot.png" alt="Munin" />
		</div>
		<div class="col-md-6">
			<h2>What is Munin?</h2>
			<p>Munin is a networked resource monitoring tool that can help analyze resource trends and "what just happened
				to kill our performance?" problems. It is designed to be very plug and play. A default installation provides
				a lot of graphs with almost no work.</p>
			<p>In Norse mythology Hugin and Munin are the ravens of the god king Odin. They flew all over Midgard for him,
				seeing and remembering, and later telling him. "Munin" means "memory".</p>

			<a href="http://demo.munin-monitoring.org" class="button button-elevated"><i class="mdi mdi-play"></i> Check the demo server</a>
		</div>
	</div>
	<div class="row four-parts-part">
		<div class="col-md-12">
			<h2>Monitoring within easy reach</h2>
			<p class="subtitle">Complicated does not mean efficient ; easy isn't superficial.<br />
				Easily install munin and start supervising your servers right now!</p>

			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="part">
						<i class="mdi mdi-thumb-up"></i>
						<h3>Easy to install</h3>
						<p><a href="/download/">Follow the instructions</a> and install & configure munin in less
							than 10 minutes</p>
					</div>
				</div>
				<div class="col-md-5">
					<div class="part">
						<i class="mdi mdi-clock-fast"></i>
						<h3>Real-time alerts</h3>
						<p>Munin polls your servers once every 5 minutes. Don't wait longer to be notified when something
							goes wrong</p>
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<div class="part">
						<i class="mdi mdi-arrow-expand"></i>
						<h3>Scalable</h3>
						<p>Monitor all-scales installations, from your home Raspberry Pi to a 100+ nodes cluster</p>
					</div>
				</div>
				<div class="col-md-5">
					<div class="part">
						<i class="mdi mdi-auto-fix"></i>
						<h3>Flexible</h3>
						<p>Munin will cleverly choose from 500+ available plugins to monitor every service running on
							your server</p>
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<div class="part">
						<i class="mdi mdi-beaker"></i>
						<h3>Extensible</h3>
						<p><a href="http://guide.munin-monitoring.org/en/latest/plugin/index.html">Write your own plugins</a>
							in the language of your choice to supervise whatever you want</p>
					</div>
				</div>
				<div class="col-md-5">
					<div class="part">
						<i class="mdi mdi-check-all"></i>
						<h3>Maintained</h3>
						<p>Munin's first version was released ten years ago and it keeps evolving since</p>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 screenshot">
					<a href="/download/" class="button button-elevated"><i class="mdi mdi-package-down"></i> Download munin</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2>How does it work?</h2>

			<p>Munin the monitoring tool surveys all your computers and remembers what it saw. It presents all the
				information in graphs through a web interface. Its emphasis is on plug and play capabilities. After
				completing a installation a high number of monitoring plugins will be playing with no more effort.</p>

			<p>Using Munin you can easily monitor the performance of your computers, networks, SANs, applications,
				weather measurements and whatever comes to mind. It makes it easy to determine "what's different today"
				when a performance problem crops up. It makes it easy to see how you're doing capacity-wise on any resources.</p>

			<p>Munin uses the excellent <a href="http://oss.oetiker.ch/rrdtool/">​RRDTool</a> (written
				by Tobi Oetiker) and the framework is written in Perl, while plugins may be written in any language.
				Munin has a master/node architecture in which the master connects to all the nodes at regular intervals
				and asks them for data. It then stores the data in RRD files, and (if needed) updates the graphs. One of
				the main goals has been ease of creating new plugins (graphs).</p>

			<h3>Plugins</h3>
			<p>Plugins are small, standalone executables. They are easy to write, and can be written in any language.
				You can find many user contributed plugins in ​the <a href="https://github.com/munin-monitoring/contrib/">contrib</a> repository
				or <a href="http://guide.munin-monitoring.org/en/latest/plugin/index.html">easily write your own ones</a>.</p>

			<br />
			<a href="http://guide.munin-monitoring.org/en/latest/installation/install.html#installing-munin" class="button pull-right">
				<i class="mdi mdi-book-open-variant"></i> Read more on Munin Guide
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 last-news">
			<h2><i class="mdi mdi-newspaper"></i> Last news</h2>

			<ul class="post-list list">
				{% for post in site.posts limit:6 %}
				<li>
					<a href="{{ post.url }}">
						<h3 class="no-anchor">{{ post.title }}</h3>
						<p class="post-meta">Posted on {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} by {{ post.author }}{% endif %}{% if post.meta %} in {{ post.meta }}{% endif %}</p>
					</a>
				</li>
				{% endfor %}
			</ul>
			<a href="/feed.xml" class="button pull-right"><i class="mdi mdi-rss-box"></i> Subscribe using RSS</a>
			<a href="/news/" class="button pull-right"><i class="mdi mdi-newspaper"></i> More news&hellip;</a>
		</div>
	</div>
</div>
