# Rewrite rules are defined here

# ? to munin-competition
Redirect 301 /wiki/MuninCompetition /munin-competition/

# ? to commercial-offerings
Redirect 301 /wiki/CommercialOfferings /commercial-offerings/

# ? to community
Redirect 301 /wiki/Team /community/
Redirect 301 /wiki/Community /community/
Redirect 301 /wiki/MuninRelayBot /community/

# ? to documentation
Redirect 301 /wiki/Documentation /documentation/
