# Rewrite rules are defined here
Redirect 301 /wiki/MuninCompetition /munin-competition/
Redirect 301 /wiki/CommercialOfferings /commercial-offerings/
Redirect 301 /wiki/Team /community/
Redirect 301 /wiki/Community /community/
Redirect 301 /wiki/Documentation /documentation/
