<footer class="site-footer">
	<div class="container">
		<div class="col-md-3 col-md-offset-1">
			<h3>Munin</h3>
			<a href="/community/">Community</a>
			<a href="/faq">FAQ</a>
			<a href="/documentation/">Documentation links</a>
			<a href="/commercial-offerings/">Commercial Offerings</a>
			<a href="/munin-competition/">Munin Competition</a>
		</div>
		<div class="col-md-3">
			<h3>Munin on GitHub</h3>
			<a href="https://github.com/munin-monitoring/munin">Project</a>
			<a href="https://github.com/munin-monitoring/munin/pulls">Pull Requests</a>
			<a href="https://github.com/munin-monitoring/munin/issues">Issues</a>
		</div>
		<div class="col-md-3">
			<h3>IRC #munin</h3>
			<p>Join us on IRC: <a href="irc://irc.oftc.net/#munin">#munin on OFTC</a></p>
		</div>
	</div>
</footer>
