/**
 * base: provides reusable & extendable CSS classes
 */

.elevation-middle { @include box-shadow(0 2px 6px rgba(0, 0, 0, 0.2)); }
.elevation-high { @include box-shadow(0 4px 10px rgba(0, 0, 0, 0.2)); }
.elevation-low { @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.15)); }
.elevation-none { @include box-shadow(none); }

.inset {
	@include box-shadow(inset 0 4px 7px -6px rgba(0,0,0,0.4),inset 0 -4px 7px -6px rgba(0,0,0,0.4));
}

.clear-after {
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
}


.button {
	color: inherit;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	padding: 6px 12px;
	@extend .hoverable;
	@include transition-duration(200ms);
	@include border-radius(2px);

	&:hover {
		color: inherit;
		text-decoration: none;
	}
	&:focus, &:active {
		outline: none;
		@include box-shadow(inset 0 1px 0 0 rgba(0,0,0,0.2));
	}

	&.button-elevated {
		color: #fff;
		border: 1px solid darken($primary-color, 3);
		background: $primary-color;
		@include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 0 rgba(0,0,0,0.2));

		&:hover {
			background: darken($primary-color, 2);
			@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 0 rgba(0,0,0,0.2));
		}
		&:focus, &:active {
			background: darken($primary-color, 5);
			color: #fff;
			@include box-shadow(inset 0 1px 0 0 rgba(0, 0, 0, 0.2));
		}
	}
	&.inverse {
		color: #fff;
	}
	&.button-break {
		float: left;
		clear: left;
	}

	i {
		margin: 0 3px 0 -3px;
		font-size: 20px;
		vertical-align: bottom;
	}
}

.buttons-set {
	margin-top: 20px;
	margin-bottom: 20px;
	list-style: none;

	.button {
		display: inline-block;
		@include opacity(0.9);
		@include border-radius(2px);
		text-align: center;
		padding: 5px 10px;
		width: 100%;
		color: #333;
		@extend .hoverable;

		&:hover {
			@include opacity(1);
		}

		i {
			font-size: 50px;
			margin: 0;
		}
		p {
			margin-top: 7px;
			line-height: 15px;
			text-align: center;
		}
	}
	&.buttons-set-inverse .button {
		i, p {
			color: #fff;
		}
	}
	&.buttons-set-small .button {
		i {
			font-size: 30px;
		}
		p {
			margin-bottom: 5px;
		}
	}
}

.card {
	display: block;
	padding: 5px 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	@include border-radius(2px);
	@extend .elevation-middle;

	&.card-no-elevation {
		@extend .elevation-none;
	}

	@extend .clear-after;
}

.note {
	padding: 10px 15px;
	color: rgba(0, 0, 0, 0.7);
	@include border-radius(2px);

	i {
		float: left;
		font-size: 25px;
		margin: 10px 15px 10px 5px;
		color: rgba(0, 0, 0, 0.7);
	}

	&, &.note-neutral {
		background-color: #CFD8DC;
	}
	&.note-warning {
		background-color: #FFCC80;
	}

	@extend .clear-after;
}

.hoverable {
	@include transition-duration(150ms);

	&:hover {
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.conf-file {
	.filename {
		margin-bottom: 5px;
	}
}

.console, .conf-file {
	max-width: 100%;
	overflow-y: auto;
	white-space: nowrap;
	@extend .card;
	@extend .elevation-low;
	padding: 10px 15px;
	margin-top: 0;
	line-height: 1.5;
	background-color: $dark-gray;
	font-size: 13px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

	.prompt, .filename {
		display: inline-block;
		margin-right: 8px;
		color: rgba(255, 255, 255, 0.6);
	}

	.command, .conf {
		display: inline-block;
		color: #fff;
	}

	.prompt, .command-output, .conf-before, .conf-after {
		@include user-select(none);
		cursor: default;
		font-size: 12px;
	}

	.command-output, .conf-before, .conf-after {
		color: rgba(255, 255, 255, 0.2);
	}
}

ul.list {
	list-style: none;
	margin: 0;
	padding: 4px 0;

	li {
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: 18px;

		a {
			display: block;
			color: inherit;
			text-decoration: none;
			line-height: 18px;
			margin: 0;
			padding: 6px 12px;
			transition-duration: 150ms;
			border-radius: 2px;

			&:hover {
				text-decoration: none;
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}
}
