body {
	background-color: #eee;
	font-family: $primary-font;
}

$content-offset: 45px;

header {
	background-color: $primary-color;
	color: #fff;
	padding-bottom: $content-offset;

	h1.logo-wrap {
		margin: 25px 0;
		float: left;

		a {
			display: inline-block;
			@include opacity(0.9);
			@include transition-duration(150ms);

			svg, img {
				width: 165px;
				height: 45px;
			}

			&:hover {
				@include opacity(1);
			}
		}
	}

	.menu {
		cursor: default;
		text-align: right;
		margin-top: 32px;

		a {
			display: inline-block;
			color: #fff;
			@include border-radius(2px);
			margin: 0 2px;
			padding: 6px 11px;
			@include transition-duration(150ms);

			&:hover, &.active {
				text-decoration: none;
				background-color: rgba(0, 0, 0, 0.4);
			}

			i {
				font-size: 17px;
				margin: 0 4px 0 -4px;
				vertical-align: top;
			}
		}

		@extend .clear-after;
	}

	@media (max-width: 480px) {
		h1.logo-wrap {
			float: none;
			margin: 10px 0;

			a {
				@include opacity(1);
			}
		}

		.menu {
			margin: 10px 0;
			text-align: left;

			a {
				float: left;
				clear: left;
			}
		}
	}
}


// Set content overlapping header
@media (min-width: 768px) {
	header {
		padding-bottom: $content-offset;
	}
	.content, .aside-content {
		margin-top: -$content-offset;
	}
}

.content {
	margin-top: -$content-offset;
	padding-bottom: 10px;
	background-color: #fff;
	@extend .elevation-middle;
	@include border-radius(2px);

	h2 {
		margin-top: 10px;
		font-weight: normal;
		color: #444;
	}
	h3 {
		border-bottom: 1px solid #ddd;
		padding-bottom: 5px;
		margin-bottom: 15px;
	}
	h4 {
		font-size: 18px;
		margin-top: 20px;
	}
	p {
		text-align: justify;
	}
	img {
		max-width: 100%;
	}
	.subtitle {
		color: #555;
		font-size: 13px;
		margin-top: -5px;
	}
}

.aside-content {
	.aside-content-part {
		@extend .card;
		@extend .elevation-low;
		color: #fff;
		text-align: center;

		&:first-child {
			margin-top: 0;
		}

		h2 {
			margin-top: 5px;
			margin-bottom: 10px;
			font-size: 24px;
			font-weight: 400;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
			text-align: center;
		}
		h3 {
			font-size: 20px;
			margin-top: 10px;
			margin-bottom: 0;
		}
		p {
			color: rgba(255, 255, 255, 0.8);
			font-weight: 400;
		}
	}

	.download {
		background-color: $blue;
		@extend .hoverable;

		&:hover {
			background-color: darken($blue, 3);
		}
	}

	.munin-guide {
		background-color: $dark-gray;
		@extend .hoverable;

		&:hover {
			background-color: darken($dark-gray, 2);
		}
	}

	.open-source {
		background-color: $gray;

		h2 {
			margin-bottom: 0;
		}
	}

	.support {
		background-color: $primary-color;
		@extend .hoverable;

		&:hover {
			background-color: darken($primary-color, 2);
		}
	}
}
@media (max-width: 767px) {
	.aside-content {
		margin-top: 20px;
	}
}

.page-home {
	padding-top: 10px;

	img {
		@include border-radius(2px);
	}
}

.page-support {
	.help-means {
		background-color: $light-gray;
	}
}

.page-download {
}

footer {
	padding-bottom: 20px;

	h3 {
		font-size: 19px;
		font-weight: normal;
	}
	a {
		display: block;
		color: #000;
		@include transition-duration(150ms);
		@include opacity(0.5);

		&:hover {
			@include opacity(0.7);
		}
	}
}
