body {
	background-color: #eee;
	font-family: $primary-font;
}

$content-offset: 45px;

header {
	background-color: $primary-color;
	color: #fff;
	padding-bottom: $content-offset;

	h1.logo-wrap {
		margin: 25px 0;
		float: left;

		a {
			display: inline-block;
			@include opacity(0.9);
			@include transition-duration(150ms);

			svg, img {
				width: 165px;
				height: 45px;
			}

			&:hover {
				@include opacity(1);
			}
		}
	}

	.menu {
		cursor: default;
		text-align: right;
		margin-top: 32px;

		a {
			display: inline-block;
			color: #fff;
			@include border-radius(2px);
			margin: 0 2px;
			padding: 6px 11px;
			@include transition-duration(150ms);

			&:hover, &.active {
				text-decoration: none;
				background-color: rgba(0, 0, 0, 0.4);
			}

			i.mdi-open-in-new {
				font-size: 11px;
				vertical-align: super;
			}
		}
	}
}

.content {
	margin-top: -$content-offset;
	background-color: #fff;
	@extend .elevation-middle;
	@include border-radius(2px);

	p {
		text-align: justify;
	}

	img {
		max-width: 100%;
	}
}

.introduction {
	padding-top: 20px;
	padding-bottom: 20px;

	img {
		@include border-radius(2px);
	}
}

footer {
	h3 {
		font-size: 19px;
		font-weight: normal;
	}
	a {
		display: block;
		color: #000;
		@include transition-duration(150ms);
		@include opacity(0.5);

		&:hover {
			@include opacity(0.7);
		}
	}
}
