body {
	background-color: #eee;
	font-family: $primary-font;
}

$content-offset: 45px;

header {
	background-color: $primary-color;
	color: #fff;
	padding-bottom: $content-offset;

	h1.logo-wrap {
		margin: 25px 0;
		float: left;

		a {
			display: inline-block;
			@include opacity(0.9);
			@include transition-duration(150ms);

			svg, img {
				width: 165px;
				height: 45px;
			}

			&:hover {
				@include opacity(1);
			}
		}
	}

	.menu {
		cursor: default;
		text-align: right;
		margin-top: 32px;

		a {
			display: inline-block;
			color: #fff;
			@include border-radius(2px);
			margin: 0 2px;
			padding: 6px 11px;
			@include transition-duration(150ms);

			&:hover, &.active {
				text-decoration: none;
				background-color: rgba(0, 0, 0, 0.4);
			}

			i {
				font-size: 17px;
				margin: 0 4px 0 -4px;
				vertical-align: top;
			}
		}
	}
}

.content {
	margin-top: -$content-offset;
	background-color: #fff;
	@extend .elevation-middle;
	@include border-radius(2px);

	p {
		text-align: justify;
	}

	img {
		max-width: 100%;
	}
}

.page-home {
	padding-top: 20px;
	padding-bottom: 20px;

	img {
		@include border-radius(2px);
	}

	.open-source {
		background-color: $light-gray;

		p {
			text-align: center;
		}
	}

	.support {
		background-color: $primary-color;

		p {
			text-align: left;
		}
	}

	.support, .open-source {
		color: #fff;

		h2 {
			margin-top: 5px;
			margin-bottom: 0;
			font-size: 24px;
			font-weight: 400;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
			text-align: center;
		}
		h3 {
			font-size: 20px;
			margin-top: 0;
		}
		p {
			color: rgba(255, 255, 255, 0.8);
			font-weight: 400;
		}
	}
}

footer {
	padding-bottom: 20px;

	h3 {
		font-size: 19px;
		font-weight: normal;
	}
	a {
		display: block;
		color: #000;
		@include transition-duration(150ms);
		@include opacity(0.5);

		&:hover {
			@include opacity(0.7);
		}
	}
}
