<!doctype html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		<div class="container">
			<div class="row">
				<div class="col-md-9 content">
					{{ content }}
				</div>
				<div class="col-md-3 aside-content">
					<a href="/download.html" class="download aside-content-part">
						<div class="row">
							<div class="col-md-12">
								<h2><i class="mdi mdi-package-down"></i> Download munin</h2>
								<p>Get installation & configuration instructions suited for your system</p>
							</div>
						</div>
					</a>

					<div class="open-source aside-content-part buttons-set buttons-set-inverse buttons-set-small">
						<div class="row">
							<div class="col-md-12">
								<h2>Munin is open-source</h2>
								<p>Help us making it better!</p>
							</div>
							<div class="col-xs-6">
								<a href="https://github.com/munin-monitoring/munin" target="_blank" class="button">
									<i class="mdi mdi-code-braces"></i>
									<p>Browse source</p>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="https://github.com/munin-monitoring/munin/pulls" target="_blank" class="button">
									<i class="mdi mdi-source-pull"></i>
									<p>Pull requests</p>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="https://github.com/munin-monitoring/munin/issues" target="_blank" class="button">
									<i class="mdi mdi-alert-circle"></i>
									<p>Issues</p>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="https://github.com/munin-monitoring/munin/commits/devel" target="_blank" class="button">
									<i class="mdi mdi-git"></i>
									<p>Last commits</p>
								</a>
							</div>
						</div>
					</div>

					<div class="support aside-content-part">
						<div class="row">
							<div class="col-sm-12">
								<h2>Support</h2>
							</div>
							<div class="col-sm-12">
								<h3>I need help</h3>
								<p>I'm experiencing issues installing, configuring or using munin</p>
								<a href="http://guide.munin-monitoring.org/en/latest/" target="_blank" class="button button-break"><i class="mdi mdi-book-open-variant"></i> Read the guide</a>
								<a href="#" class="button button-break"><i class="mdi mdi-comment-alert"></i> Join us on IRC</a>
							</div>
							<div class="col-sm-12">
								<h3>I found a bug</h3>
								<p>I discovered an issue affecting munin</p>
								<a href="https://github.com/munin-monitoring/munin/issues" target="_blank" class="button button-break"><i class="mdi mdi-alert-circle"></i> Open an issue on GitHub</a>
								<a href="https://github.com/munin-monitoring/munin/pulls" target="_blank" class="button button-break"><i class="mdi mdi-source-pull"></i> Create a pull request</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include footer.html %}
		{% include foot.html %}
	</body>
</html>
