<!doctype html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		<div class="container">
			<div class="row">
				<div class="col-md-9 content">
					{{ content }}
				</div>
				<div class="col-md-3 aside-content">
					<a href="https://guide.munin-monitoring.org/" class="munin-guide aside-content-part">
						<h2><i class="mdi mdi-book-open-variant"></i> Munin Guide</h2>
						<p>Get documentation from basic configuration up to becoming a munin power-user</p>
					</a>

					<a href="/download/" class="download aside-content-part">
						<h2><i class="mdi mdi-package-down"></i> Download munin</h2>
						<p>Installation from packages, tarballs or sources</p>
					</a>

					<div class="open-source aside-content-part buttons-set buttons-set-inverse buttons-set-small">
						<div class="row">
							<div class="col-md-12">
								<h2>Munin is open-source</h2>
								<p>Help us making it better!</p>
							</div>
							<div class="col-xs-6">
								<a href="https://github.com/munin-monitoring/munin" class="button">
									<i class="mdi mdi-code-braces"></i>
									<p>Browse source</p>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="https://github.com/munin-monitoring/munin/pulls" class="button">
									<i class="mdi mdi-source-pull"></i>
									<p>Pull requests</p>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="https://github.com/munin-monitoring/munin/issues" class="button">
									<i class="mdi mdi-alert-circle"></i>
									<p>Issues</p>
								</a>
							</div>
							<div class="col-xs-6">
								<a href="https://github.com/munin-monitoring/munin/commits/devel" class="button">
									<i class="mdi mdi-git"></i>
									<p>Last commits</p>
								</a>
							</div>
						</div>
					</div>

					<a href="/support/" class="support aside-content-part">
						<h2><i class="mdi mdi-help-circle"></i> Support</h2>
						<p>Receive help from documentation references, FAQ or real people</p>
					</a>

					{% if page.url != '/' %}
						<div class="news aside-content-part">
							<h2><i class="mdi mdi-newspaper"></i> Last news</h2>
							<ul class="list">
								{% for post in site.posts limit:6 %}
								<li>
									<a href="{{ post.url }}">
										<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
										<h4>{{ post.title }}</h4>
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% include footer.html %}
		{% include foot.html %}
	</body>
</html>
