---
layout: default
---
<div class="page page-post page-padding-high">
	<div class="row">
		<div class="col-md-12">
			<div class="post-header">
				<h2 class="post-title">{{ page.title }}</h2>
				<p class="post-meta">Posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

				<hr />
			</div>

			<article class="post-content">
				{{ content }}
			</article>

			<br />
			<a href="/news/" class="button pull-right"><i class="mdi mdi-newspaper"></i> All news</a>
		</div>
	</div>
</div>
